body{
    background: white;
}

.logo{
    width:80%;
    color:white;
    margin: 6%;
    text-align: left;
    font-weight: bolder;
    font-size: 30pt;
}

.pad-display { 
    margin:6%;
    width:85%;
    font-size: 20pt;
}

.pin-pad{
    max-width: 50%;
    border: lightgray solid 2px;
    border-radius: 5%;
    background-color: black;
    padding: 15px;
}

.pad-button{
    height: 20%;
    width: 20%;
    margin:6%;
    padding: 15px 0;
    border: black solid 1px;
    background-color: darkgray;
    color: black;
    text-align: center;
    display: inline-block;
    font-weight: bold;
}

.row{
    width:100%;
}